.categories {
  width: 100%;
  padding: 0 1.4rem;
  .category_card {
    margin: 0 auto;
    display: flex;
    width: 100%;
    max-width: 104rem;
    flex-direction: column;
    align-items: center;
    gap: 3.4rem;
    border-radius: 4rem;
    background: #f5f5f1;
    padding: 4rem;
    .category_container {
      width: 100%;
      display: grid;
      gap: 2.4rem;
      grid-template-columns: repeat(3, 1fr);
      li {
        a {
          width: 100%;
          display: flex;
          padding: 1.4rem 1rem;
          justify-content: center;
          align-items: center;
          gap: 1.6rem;
          flex: 1 0 0;
          border-radius: 1rem;
          background: var(--white, #fff);
          box-shadow: 0 0 1.2rem 0 rgba(0, 0, 0, 0.06);
          color: var(--accent, #50618a);
          font-size: 1.8rem;
          font-weight: 700;
          img {
            width: 3.4rem;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .categories {
    .category_card {
      gap: 2.4rem;
      padding: 4rem 2rem;
      .category_container {
        grid-template-columns: repeat(2, 1fr);
        gap: 1.6rem;
      }
    }
  }
}

@media (max-width: 425px) {
  .categories {
    .category_card {
      gap: 2.4rem;
      padding: 4rem 2rem;
      .category_container {
        grid-template-columns: repeat(2, 1fr);
        gap: 1.6rem;
        li {
          a {
            font-size: 1.4rem;
            img {
              width: 2.4rem;
            }
          }
        }
      }
    }
  }
}
