.footer_section {
  margin-top: 20rem;
  width: 100%;
  .to_top {
    width: 100%;
    display: flex;
    padding: 0.5rem 0;
    justify-content: center;
    align-items: center;
    gap: 0.7rem;
    background: var(--text_main, #333);
    color: #fff;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 700;
  }
  .container_top {
    width: 100%;
    background: var(--bg_gray3, #fafafa);
    .top_footer {
      width: 100%;
      max-width: 104rem;
      padding: 4rem 1.4rem;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      gap: 2.4rem;

      .btn_links {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        .links {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 2.4rem;
          .top_link {
            display: flex;
            align-items: center;
            gap: 0.8rem;
            img {
              width: 14.7rem;
            }
            .divider {
              width: 0.1rem;
              height: 2.4rem;
              background: #908f8f;
            }
            p {
              color: var(--text_main, #333);
              text-align: center;
              font-size: 1.4rem;
              font-weight: 400;
            }
          }
          .social_media {
            display: flex;
            gap: 1.5rem;
            .container {
              display: flex;
              padding: 1.5rem 1.6rem;
              align-items: center;
              gap: 1rem;
              border-radius: 10rem;
              border: 0.1rem solid var(--line, #d1d1d1);
              background: #fff;
              img {
                width: 3rem;
              }
            }
          }
        }
        .btns {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 1rem;
          .btn {
            display: flex;
            width: 24rem;
            padding: 0.8rem 1.6rem;
            justify-content: space-between;
            align-items: center;
            border-radius: 8.5rem;
            font-size: 1.8rem;
            font-weight: 700;
            text-align: center;
          }
          .gray_btn {
            border: 0.1rem solid transparent;
            background: var(--gray, #9e9e9e);
            color: var(--white, #fff);
          }
          .white_btn {
            color: var(--gray, #9e9e9e);
            border: 0.1rem solid var(--gray, #9e9e9e);
            .red_arrow {
              display: none;
            }
          }
        }
      }
      .line_p {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 4rem;
        align-self: stretch;
        span {
          display: flex;
          align-items: center;
          gap: 0.8rem;
          color: var(--text_sub, #757575);
          text-align: center;
          font-size: 1.2rem;
          font-weight: 400;
        }
      }
    }
  }
  .container_bottom {
    width: 100%;
    background: var(--gray_light, #e8e8e8);
    .bottom_footer {
      display: flex;
      width: 100%;
      max-width: 104rem;
      padding: 1.6rem 1.4rem;
      margin: 0 auto;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      p {
        color: var(--gray, #9e9e9e);
        text-align: center;
        font-size: 1.2rem;
        font-weight: 400;
        max-width: 60rem;
        //   margin: 0;
      }
    }
  }
}

@media (max-width: 1024px) {
  .footer_section {
    .container_top {
      .top_footer {
        .btn_links {
          .links {
            .top_link {
              flex-direction: column;
              align-items: center;
              .divider {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .footer_section {
    .container_top {
      .top_footer {
        .btn_links {
          flex-direction: column;
          gap: 2.4rem;
          align-items: center;
          .links {
            align-items: center;
          }
          .btns {
            width: 100%;
            align-items: center;
            .btn {
              width: 100%;
              max-width: 36rem;
            }
            .gray_btn {
              background: var(--main, #dd5b5b);
            }
            .white_btn {
              border: 1px solid var(--main, #dd5b5b);
              color: var(--main, #dd5b5b);
              .red_arrow {
                display: block;
              }
              .gray_arrow {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 425px) {
  .footer_section {
    .container_top {
      .top_footer {
        .line_p {
          flex-direction: column;
          align-items: flex-end;
          gap: 1rem;
        }
      }
    }
  }
}
