.header_section {
  //   width: 100%;
  position: relative;
  z-index: 10;
  .top_header {
    width: 100%;
    max-width: 104rem;
    margin: 0 auto;
    padding: 1.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .top_left {
      display: flex;
      gap: 0.8rem;
      align-items: center;
      a {
        img {
          width: 14.7rem;
        }
      }

      .divider {
        width: 0.1rem;
        height: 2.4rem;
        background: #908f8f;
      }
      .last_a {
        color: var(--text_main, #333);
        text-align: center;
        font-size: 1.4rem;
        font-weight: 400;
      }
    }
    .top_right {
      display: flex;
      gap: 1rem;
      align-items: center;
      .header_searchbar {
        display: flex;
        height: fit-content;
        align-items: center;
        gap: 1rem;
        border-radius: 6px;
        border: 1px solid var(--line, #d1d1d1);
        background: var(--bg_white, #fff);
        input {
          border: none;
          outline: none;
          color: var(--text_main #333);
          font-size: 1.2rem;
          font-weight: 400;
          padding: 0 1rem;
        }
        input::placeholder {
          color: var(--line, #d1d1d1);
        }
        .img_container {
          display: flex;
          height: 2.6rem;
          padding: 0 0.6rem;
          align-items: center;
          border-radius: 0 0.5rem 0.5rem 0;
          background: var(--main, #dd5b5b);
          img {
            width: 2.4rem;
          }
        }
      }
      .btn {
        display: flex;
        width: 14rem;
        padding: 0.8rem 1.6rem;
        justify-content: space-between;
        align-items: center;
        border-radius: 8.5rem;
        border: 0.1rem solid var(--main, #dd5b5b);
        img {
          width: 1.5rem;
        }
      }
      .btn.header_btn-red {
        background: var(--main, #dd5b5b);
        color: var(--white, #fff);
        text-align: center;
        font-size: 1.4rem;
        font-weight: 700;
      }
      .btn.header_btn-white {
        color: var(--main, #dd5b5b);
        text-align: center;
        font-size: 1.4rem;
        font-weight: 700;
      }
    }
    .burger_menu {
      display: none;
      width: 3.2rem;
      height: 3.2rem;
      margin-left: auto;
      position: relative;
      padding: 0.5rem;
      margin: 1.2rem 0;
      cursor: pointer;
      .line {
        width: 100%;
        height: 0.25rem;
        background-color: #757575;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: all 0.3s ease;
      }
      .line:nth-child(1) {
        top: 25%;
      }
      .line:nth-child(3) {
        top: 75%;
      }
    }
    .burger_menu.active {
      .line:nth-child(1) {
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
      }
      .line:nth-child(2) {
        opacity: 0;
      }
      .line:nth-child(3) {
        top: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
      }
    }
  }
  .bottom_header {
    width: 100%;
    background-color: var(--bg_pink, #fef1f1);
    .bottom_container {
      width: 100%;
      max-width: 104rem;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      margin: 0 auto;
      a {
        display: flex;
        padding: 0.9rem 1.6rem;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        flex: 1 0 0;
        align-self: stretch;
        color: var(--text_main, #333);
        text-align: center;
        font-size: 1.4rem;
        font-weight: 700;
        img {
          width: 2.4rem;
        }
      }
    }
  }
  .off_screen-menu {
    width: 100%;
    max-width: 42.5rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    justify-content: center;
    padding: 4rem 2.4rem;
    position: absolute;
    z-index: -1;
    right: 0;
    bottom: 0;
    transform: translate(100%, 100%);
    transition: all 0.3s ease;
    overflow-y: scroll;
    .off_screen-top {
      width: 100%;
      display: flex;
      flex-direction: column;
      li {
        width: 100%;
        border-top: 0.1rem solid #d1d1d1;
        a {
          display: inline-block;
          padding: 1.5rem 0;
          width: 100%;
          text-align: center;
          color: var(--text_main, #333);
          font-size: 1.4rem;
          font-weight: 700;
        }
      }
      li:last-child {
        border-bottom: 0.1rem solid #d1d1d1;
      }
    }
    .off_screen-bottom {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 2.4rem;
      .input_container {
        display: flex;
        gap: 1rem;
        // padding: 1rem 0 1rem 1.2rem;
        overflow: hidden;
        border-radius: 0.4rem;
        border: 0.1rem solid var(--font_color_variant2, #9e9e9e);
        background: var(--tertiary_variant, #fff);
        input {
          width: 100%;
          border: none;
          outline: none;
          color: var(--text_main #333);
          font-size: 1.2rem;
          font-weight: 400;
          padding: 0 1rem;
          padding: 1rem 0 1rem 1.2rem;
        }
        input::placeholder {
          color: var(--line, #d1d1d1);
        }
        .img_container {
          display: flex;
          padding: 0 0.6rem;
          align-items: center;
          background: var(--font_color_variant2, #9e9e9e);
          img {
            width: 2.4rem;
          }
        }
      }
      .btn {
        width: 100%;
        display: flex;
        padding: 1.3rem 1.6rem;
        justify-content: space-between;
        align-items: center;
        align-self: stretch;
        border-radius: 8.5rem;
        font-size: 1.4rem;
        font-weight: 700;
      }
      .btn.btn_gray {
        background: var(--gray, #9e9e9e);
        border: 0.1rem solid transparent;
        color: var(--white, #fff);
      }
      .btn.btn_white {
        border: 1px solid var(--gray, #9e9e9e);
        color: var(--gray, #9e9e9e);
      }
    }
  }
  .off_screen-menu.active {
    transform: translate(0, 100%);
    box-shadow: -0.2rem 0 0 0 var(--Grey-main, #f8f8f8);
  }
}
@media (max-width: 1024px) {
  .header_section {
    .top_header {
      .top_left {
        flex-direction: column;
        align-items: flex-start;
        gap: 0;
        a {
          img {
            width: 11.4rem;
          }
        }
        .divider {
          display: none;
        }
        .last_a {
          font-size: 1.2rem;
          font-weight: 700;
        }
      }
      .top_right {
        .btn {
          width: 12rem;
          padding: 0.6rem 1.2rem;
          img {
            width: 1.3rem;
          }
        }
        .btn.header_btn-red {
          font-size: 1.2rem;
        }
        .btn.header_btn-white {
          font-size: 1.2rem;
        }
      }
    }
    .bottom_header {
      width: 100%;
      background-color: var(--bg_pink, #fef1f1);
      .bottom_container {
        a {
          padding: 0.7rem 1.2rem;
          font-size: 1.2rem;
          img {
            width: 2rem;
          }
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .header_section {
    .top_header {
      .top_right {
        display: none;
      }
      .burger_menu {
        display: flex;
      }
    }
  }
}
