.h2_section {
  position: relative; /* Ensure positioning context for the pseudo-element */
  display: flex;
  width: 100%;
  max-width: 144rem;
  justify-content: flex-start;
  align-items: center;
  gap: 0.8rem;
  color: var(--black, #202020);
  font-size: 2.4rem;
  font-weight: 700;
  margin: 0 auto;
}

.h2_section::before {
  content: "";
  width: 0.4rem;
  height: 3.8rem;
  border-radius: 1rem;
  background: var(--main, #dd5b5b); /* Red color */
  display: inline-block;
  margin-right: 0.8rem;
}
h3 {
  width: 100%;
  max-width: 144rem;
  margin: 0 auto;
  display: flex;
  padding: 0.3rem 1.6rem;
  align-items: flex-start;
  align-self: stretch;
  flex: 1 0 0;
  color: var(--main, #dd5b5b);
  border-radius: 1rem;
  background: #fff7f7;
  font-size: 2.1rem;
  font-weight: 700;
}
.h4_section {
  position: relative; /* Required for the pseudo-element positioning */
  display: flex;
  align-items: center;
  gap: 1.6rem;
  flex: 1 0 0;
  color: var(--black, #202020);
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 160%;
}

.h4_section::before {
  content: "";
  width: 2.4rem;
  height: 0.4rem;
  background: var(--main, #dd5b5b); /* Red color */
  display: inline-block;
  flex-shrink: 0; /* Prevents shrinking of the pseudo-element */
}
