.related_movie {
  width: 100%;
}
.related_movie .movie_container {
  width: 100%;
  max-width: 80rem;
  margin: 0 auto;
}
.related_movie .movie_container .top_header {
  width: fit-content;
  display: flex;
  padding: 0.5rem 2.4rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 1rem 1rem 0 0;
  background: var(--main_light, #f67a7a);
}
.related_movie .movie_container .top_header h5 {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 700;
}

.related_movie .movie_container .bottom_box {
  display: flex;
  padding: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.6rem;
  align-self: stretch;
  border-radius: 0 1rem 1rem 1rem;
  border: 0.1rem solid var(--main_light, #f67a7a);
  background: var(--white, #fff);
}

.related_movie .movie_container .bottom_box .card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}

.related_movie .movie_container .bottom_box .card img {
  width: 17.8rem;
  border-radius: 2rem;
}
.related_movie .movie_container .bottom_box .card .content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.6rem;
  flex: 1 0 0;
  align-self: stretch;
  overflow: hidden;
}

.related_movie .movie_container .bottom_box .card .content .p_b {
  align-self: stretch;
  color: var(--text_main, #333);
  font-size: 1.4rem;
  font-weight: 700;
}

.related_movie .movie_container .bottom_box .card .content .p_l {
  color: var(--text_main, #333);
  font-size: 14px;
  font-weight: 400;
}

@media (max-width: 768px) {
  .related_movie .movie_container .top_header {
    padding: 0.5rem 1.6rem;
  }
  .related_movie .movie_container .bottom_box {
    padding: 16px 8px;
    gap: 16px;
  }
  .related_movie .movie_container .bottom_box .card {
    gap: 10px;
  }
  .related_movie .movie_container .bottom_box .card img {
    width: 107px;
    border-radius: 10px;
  }
  .related_movie .movie_container .bottom_box .card .p_b {
    font-size: 12px;
  }
  .related_movie .movie_container .bottom_box .card .p_l {
    font-size: 1.2rem;
  }
}
