.fv_section {
  position: relative;
  width: 100%;
  height: 40rem;
  margin: 14rem 0 4rem 0;
}
.swiper-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide {
  width: 65% !important;
  height: 100%;
  text-align: center;
  position: relative;
  transition: all 0.3s ease;
  transform: translate(-50%, 0);
  display: flex !important;
  flex-direction: column !important;
  justify-content: flex-end !important;
  align-items: center;
  padding: 2.4rem;
  gap: 0.5rem;
  flex-shrink: 0;
  background: lightcoral;
  border-radius: 3rem;
}

.swiper-slide img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: -1;
  aspect-ratio: 16 / 9;
}

.swiper-slide h3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  color: var(--white, #fff);
  text-align: center;
  text-overflow: ellipsis;
  font-size: 1.8rem;
  font-weight: 700;
  background-color: transparent;
  width: fit-content;
}
.swiper-slide p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  align-self: stretch;
  overflow: hidden;
  color: var(--white, #fff);
  text-align: center;
  text-overflow: ellipsis;
  font-size: 1.4rem;
  font-weight: 400;
}

.swiper-navigation {
  position: absolute !important;
  top: 50%;
  left: 50%;
  width: 80%;
  max-width: 1060px;
  display: flex;
  transform: translate(-50%, -50%);
  pointer-events: auto;
  z-index: 10;
  margin: 0 auto;
}

.swiper-button-next,
.swiper-button-prev {
  background-color: transparent !important;
  border: none !important;
  cursor: pointer;
  height: 40px;
  width: 40px !important;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-next {
  right: 50px !important;
}

.swiper-button-prev {
  left: 50px !important;
}

.swiper-button-next img,
.swiper-button-prev img {
  width: 100%;
  height: auto;
  border: 1px solid var(--accent, #50618a);
  background: var(--white, #fff);
  border-radius: 50%;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  opacity: 0.7;
}

.swiper-slide-active {
  width: 65% !important;
  background-color: lightblue;
  transform: translate3d(0px, 0px, 0px) !important;
  border-radius: 3rem;
  overflow: hidden;
  position: relative;
}

.swiper-slide-prev,
.swiper-slide-next {
  opacity: 0.7;
  transform: scale(0.8) !important;
  border-radius: 3rem;
  overflow: hidden;
}

.swiper-pagination {
  position: absolute !important;
  bottom: -30px !important;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1.2rem;
  z-index: 10;
}

.swiper-pagination-bullet {
  width: 1.4rem !important;
  height: 1.4rem !important;
  background-color: #fff !important;
  border-radius: 50%;
  border: 0.1rem solid var(--line, #d1d1d1);
  margin: 0 !important;
  opacity: 1 !important;
  transition: background-color 0.3s;
}

.swiper-pagination-bullet-active {
  border: 1px solid var(--accent, #50618a);
  background: var(--accent, #50618a) !important;
  /* width: 2rem !important;
  height: 2rem !important; */
}

.swiper-button-next::after,
.swiper-button-prev::after {
  content: none !important;
}

@media (max-width: 768px) {
  .fv_section {
    margin-top: 18rem;
    height: 24rem;
  }
  .fv_section .swiper-slide {
    width: 70%;
  }
  .fv_section .swiper-slide h3 {
    width: 20rem;
    font-size: 1.6rem;
  }
  .fv_section .swiper-slide p {
    font-size: 1.4rem;
  }
  .fv_section .swiper-slide-active {
    width: 70%;
  }
  .swiper-button-next,
  .swiper-button-prev {
    height: 2.8rem;
    width: 2.8rem !important;
  }
  .swiper-button-next {
    right: 10% !important;
  }

  .swiper-button-prev {
    left: 10% !important;
  }
}

@media (max-width: 425px) {
  .fv_section {
    margin-top: 18rem;
    height: 17.5rem;
  }
}
