ol {
  list-style-type: none;
  counter-reset: list-counter;
}

ol li {
  color: var(--text_main, #333);
  font-size: 1.4rem;
  font-weight: 700;
  position: relative;
  padding-left: calc(2rem + 0.8rem);
}

ol li::before {
  counter-increment: list-counter;
  content: counter(list-counter) "";
  position: absolute;
  left: 0;
  color: #fff;
  background-color: orange;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  margin-right: 8px;
}

ul {
  list-style: none;
  padding-left: 0;
}

ul li {
  position: relative;
  padding-left: 21px;
  margin-bottom: 10px;
  color: var(--text_main, #333);
  font-size: 1.4rem;
  font-weight: 400;
}

ul li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  transform: translateY(50%);
  width: 10px;
  height: 10px;
  background-color: var(--gray, #9e9e9e);
  border-radius: 50%;
}
